## File data/stratum_models.rds is 113.78 MB; this exceeds GitHub's file size limit of 100.00 MB  
*.rds

## Old computation code before peer reviews
code/Old/

## VSCode settings files
.vscode/

## Change diagnostic folder for new models
docs/diagnostics

## Remove previous heatmap (model without seasonality)
docs\Figures\Heatmap_correlation.png